.audioplayer_wrapper {
  width: 100%;
  max-width: 500px;
  min-height: 10svh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  transition: all 0.5s ease-out;
  border-radius: 10%;
}

.aurdioplayer_duration_wrapper {
  width: 100%;
  padding: 2rem 0rem 0rem 0rem;
  margin-bottom: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.audioplayer_active {
  background-color: var(--accent_light);
  -webkit-box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
  -moz-box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
  box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
}

.aurdioplayer_duration_wrapper p {
  opacity: 0.4;
}

.audioplayer_buttons_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.audioplayer_buttons {
  margin: 1rem;
  width: 25%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--accent_light);
  -webkit-box-shadow: 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
  -moz-box-shadow: 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
  box-shadow: 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
  user-select: none;

  opacity: 0.5;
  &:hover {
    color: var(--accent_pink);
  }
  &:active {
    -webkit-box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
    -moz-box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
    box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
  }
}

.audioplayer_playback {
  position: relative;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  min-height: 1svh;
  height: 10%;
  background-color: var(--second_bg);
  z-index: 10;
  border-bottom: 1px solid transparent;
  transition: border-bottom 1s;

  &:hover {
    border-bottom: 1px dotted var(--accent_pink);
  }
}

.audioplayer_playhead {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--accent_purple);
  border-radius: 100%;
  top: -50%;
  left: -1%;
  pointer-events: none;
}

.audioplayer_playroad {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -1px;
  min-height: 1svh;
  width: 0%;
  background-color: var(--accent_pink);
  border: 1px solid var(--accent_pink);
  pointer-events: none;
}
.player_button_active {
  color: var(--accent_purple);
  opacity: 1;
  box-shadow: none;
}

@media (max-width: 600px) {
  .aurdioplayer_duration_wrapper {
    font-size: 0.5rem;
  }
  .audioplayer_buttons_wrapper {
    font-size: 0.5rem;
  }
}

@media (max-width: 400px) {
  .audioplayer_wrapper {
    margin: 0;
    padding: 0;
  }

  .aurdioplayer_duration_wrapper p {
    font-size: 0.1rem;
  }
  .audioplayer_playhead {
    width: 0.5rem;
    height: 0.5rem;
  }
  .audioplayer_playback {
    height: 1px;
  }
}
