.login_form {
  display: flex;
  width: 80%;
  min-height: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 1px solid red;
}

button {
  padding: 0.5rem;
}

.module_second_header {
  font-family: Ardeco;
  color: var(--accent_pink);
}

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.input_error {
  display: none;
}

.input_container input {
  margin-bottom: 1rem;

  &[data-error='true'] + .input_error {
    display: block;
  }
}
