* {
  box-sizing: border-box;
}
@media print {
  body {
    margin: 0 !important;
  }
}

@font-face {
  font-family: 'Fira-Sans-Regular';
  src: url('../../public/fonts/FiraSans-Regular.ttf');
}

@font-face {
  font-family: 'Fira-Sans-Black';
  src: url('../../public/fonts/FiraSans-Black.ttf');
}

.form_container {
  width: 60%;
  min-height: 50svh;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.for_who {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for_who input {
  margin-left: 1rem;
  border: none;
  border-bottom: 2px solid var(--second_bg);
  transition: all 0.5s linear;
  &:hover {
    border-bottom: 2px solid var(--light_font);
    transition: all 0.5s linear;
  }

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--accent_purple);
    transition: all 0.5s linear;
  }
}

.variant_chooser {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.variant_chooser ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.variant_chooser li {
  font-family: Colus;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
  cursor: pointer;
  &:hover {
    background: var(--accent_light);
    border: 1px solid var(--accent_pink);
    color: var(--accent_pink);
  }
}

.variant_chooser li.active_chose {
  border: 1px solid var(--accent_purple);
  color: var(--accent_purple);
}

.free_form_input {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.free_form_input input {
  width: 40%;
  margin-left: 1rem;
  border: 1px solid var(--second_bg);
  height: 2rem;
  text-align: center;
  &:focus {
    color: var(--accent_purple);
    outline-color: var(--accent_pink);
  }
}

.main-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ck-content {
  font-family: Fira-Sans-Regular;
  line-height: 1.6;
  word-break: break-word;
  min-height: 30svh;
}

.ck-content h1,
h2 {
  font-family: Fira-Sans-Black;
}

.ck-content p {
  font-family: Fira-Sans-Regular;
}

#ck-editor__aria-label_e48b938b9f219e8f758bebd62b3d4f4cc {
  font-family: Colus;
}

#root
  > div
  > div
  > div
  > div
  > div
  > div
  > div.ck.ck-reset.ck-editor.ck-rounded-corners
  > div.ck.ck-editor__top.ck-reset_all
  > div
  > div.ck.ck-sticky-panel__content
  > div
  > div.ck.ck-toolbar__items
  > div.ck.ck-dropdown.ck-heading-dropdown
  > button
  > span {
  font-family: Colus;
}

#root
  > div
  > div
  > div
  > div
  > div
  > div
  > div.ck.ck-reset.ck-editor.ck-rounded-corners
  > div.ck.ck-editor__top.ck-reset_all
  > div
  > div.ck.ck-sticky-panel__content
  > div
  * {
  color: var(--accent_pink);
}

#root
  > div
  > div
  > div
  > div
  > div
  > div
  > div.ck.ck-reset.ck-editor.ck-rounded-corners
  > div.ck.ck-editor__main
  > div:focus {
  border: 1px solid var(--accent_pink);
}

#root
  > div
  > div
  > div.main-container
  > div
  > div
  > div
  > div.ck.ck-reset.ck-editor.ck-rounded-corners {
  min-width: 280px;
  max-width: 795px;
}

.request_recieved {
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    color: var(--accent_purple);
  }
}

.entity_selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  transition: all 1s;

  &:hover p {
    border-bottom: 1px solid var(--accent_pink);
    color: var(--accent_pink);
    transition: all 1s;
  }
}

.entity_selector p {
  border-bottom: 1px solid #fff;
  transition: all 1s;
}
.entity_subselector {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 0.5rem;
}

.entity_subselector li {
  font-family: Colus;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
  font-size: 85%;
  &:hover {
    background: var(--accent_light);
    border: 1px solid var(--accent_pink);
    color: var(--accent_pink);
  }
}

.entity_subselector li.active_chose {
  border: 1px solid var(--accent_purple);
  color: var(--accent_purple);
}

.sign_stamp_selector {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  transition: all 1s;
  &:hover p {
    border-bottom: 1px solid var(--accent_pink);
    color: var(--accent_pink);
    transition: all 1s;
  }
}

.sign_stamp_selector p {
  border-bottom: 1px solid #fff;
}

.sign_stamp_subselector {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.sign_stamp_subselector li {
  font-family: Colus;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
  font-size: 85%;
  &:hover {
    background: var(--accent_light);
    border: 1px solid var(--accent_pink);
    color: var(--accent_pink);
  }
}

.sign_stamp_subselector li.active_chose {
  border: 1px solid var(--accent_purple);
  color: var(--accent_purple);
}
