.sing_in_wrapper {
  width: 50%;
  position: relative;
  max-width: 500px;
  min-width: 250px;

  min-height: 50svh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 2px solid var(--accent_pink);
  border-radius: 10px;
}

.sing_in_wrapper form label {
  margin: 0;
  padding: 0;
}

.module_header {
  font-family: Colus;
  color: var(--accent_purple);
  margin: 0;
  padding: 0;
}

.login_form {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border: 1px solid red;
}

button {
  padding: 0.5rem;
}

.form_container {
  width: 100%;
}

.module_second_header {
  font-family: Ardeco;
  color: var(--accent_pink);
}

@media (max-width: 540px) {
  .sing_in_wrapper * {
    font-size: 0.8rem;
  }
}
