.user_activities {
  width: 100%;
  height: min-content;
  /* border: 1px solid var(--accent_light); */
  border: 1px solid red;
  margin-top: 2rem;
  padding: 1rem;
}

.remove_button_wrapper {
  border: 1px solid red;
  margin-top: -1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.remove_button {
  cursor: pointer;
  font-weight: bolder;
  color: var(--accent_pink);
  margin-right: 0.1rem;
}

.ua_header_wrapper {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.request_container {
  border: 1px solid var(--accent_purple);
  margin: 1rem;
}

.request_container img {
  width: 100%;
}

.button_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}

.user_activities_button {
  cursor: pointer;
  border: 1px solid red;
  padding: 0.5rem;
}

.tec_span {
  display: none;
}
