.user_activities {
  width: 90%;
  height: 40svh;
  border: 1px solid var(--accent_light);
  overflow: scroll;
}

.request_container {
  border: 1px solid var(--accent_purple);
}

.remove_button {
  cursor: pointer;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--accent_pink);
}
