* {
  margin: 0;
  padding: 0;
}

.App {
  width: 99.9%;
  height: 99.8svh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border: 1px solid red;
}
