* {
  margin: 0;
  padding: 0;
}

.App {
  width: 99.9%;
  height: 99.8svh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.App:has(header) {
  justify-content: space-between;
}

.App:has(.filter_sorter) {
  margin-top: 0.6rem;
}
