:root {
  --main_bg: #ffffff;
  --second_bg: #e6ebf4;
  --accent_purple: #7975ff;
  --transparent_purple: #7a75ff69;
  --accent_light: #f9effc;
  --accent_pink: #db8090;
  --black_font: #060606;
  --light_font: #5f607b;
}

@font-face {
  font-family: 'Ardeco';
  src: url('../public/fonts/Ardeco.ttf');
}

@font-face {
  font-family: 'Colus';
  src: url('../public/fonts/Colus.ttf');
}

h1 {
  font-family: Ardeco;
}

p {
  font-family: Colus;
}

.header_menu li,
footer {
  font-family: Ardeco;
}

.menu_list li {
  font-family: Colus;
}

.header_auth,
.header_logo {
  font-family: Colus;
}

header {
  width: 80%;
  min-width: 300px;
  max-width: 1920px;
  height: 5svh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  color: var(--accent_purple);
}

.App a {
  text-decoration: none;
  color: inherit;
}

.header_logo {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color 1s;
  &:hover {
    color: var(--accent_pink);
  }
}

.header_menu {
  width: 70%;
  height: 100%;
}

.header_menu ul {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header_menu ul li {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: color 1s;
  &:hover {
    color: var(--accent_pink);
  }
}

.header_auth {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header_auth > * {
  transition: color 1s;
  &:hover {
    color: var(--accent_pink);
  }
}

.container {
  width: fit-content;
  height: 11svh;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: default;
}

.main_header_top,
.main_header_bottom {
  width: 100%;
  height: 100%;
  font-size: 10rem;
  color: var(--accent_purple);

  margin: 0;
}

.main_header_bottom {
  margin-top: -11svh;
}

.top_container:hover .container:nth-child(1) {
  transform: translateY(-0.1rem);
  height: 9svh;
}

.top_container:hover .menu_list {
  display: block;
}

.top_container:hover .container:nth-child(3) {
  transform: translateY(0.3rem);
  height: 6svh;
}
.top_container:hover .container:nth-child(3) * {
  margin-top: -10svh;
}

@media (hover: none) and (pointer: coarse) {
  .top_container:hover .container:nth-child(1) {
    height: 6svh;
  }
  .top_container:hover .container:nth-child(3) * {
    margin-top: -8svh;
  }
}

.menu_list {
  display: none;
  padding: 0;
  margin: 0;
  animation: scale_in 0.3s linear both;
}

.menu_list ul {
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  animation: fade_in 0.3s ease-in both;
}

.menu_list ul li {
  width: 100%;
  list-style: none;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: var(--accent_pink);
  color: var(--light_font);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: fade_in 0.3s ease-in 0.1s both;
  margin: 0.5rem;
  padding: 0.4rem;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
  border-radius: 10px;
}

.menu_list ul li:hover {
  background: var(--accent_purple);
  color: var(--accent_light);
}

@keyframes fade_in {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes scale_in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 811px) {
  .main_header_top,
  .main_header_bottom {
    font-size: 5rem;
  }

  .top_container:hover .container:nth-child(1) {
    transform: translateY(-2rem);
  }

  .container {
    height: 5svh;
  }
  .main_header_bottom {
    margin-top: -5svh;
  }

  .top_container:hover .menu_list {
    display: block;
  }

  .menu_list ul {
    height: 4svh;
  }

  .menu_list ul li {
    font-size: 1.04rem;
  }
  .top_container:hover .container:nth-child(1) {
    transform: translateY(-0.5svh);
    height: 3svh;
  }

  .top_container:hover .container:nth-child(3) {
    transform: translateY(0.5svh);
  }

  .top_container:hover .container:nth-child(3) * {
    margin-top: -4svh;
  }
}

@media (max-width: 400px) {
  .main_header_top,
  .main_header_bottom {
    font-size: 3rem;
  }
  .top_container:hover .container:nth-child(1) {
    transform: translateY(-2rem);
  }

  .container {
    height: 5svh;
  }
  .main_header_top {
    margin-top: 1.2svh;
  }
  .main_header_bottom {
    margin-top: -4svh;
  }

  .menu_list ul {
    padding: 0;
    margin: 0;
    height: 2.5svh;
  }
  .menu_list ul li {
    font-size: 0.5rem;
  }

  .top_container:hover .menu_list {
    display: block;
  }

  .top_container:hover .container:nth-child(1) {
    transform: translateY(-0.01svh);
    height: 3svh;
  }

  .top_container:hover .container:nth-child(3) {
    transform: translateY(-0.1svh);
  }

  .top_container:hover .container:nth-child(3) * {
    margin-top: -3svh;
  }
}

footer {
  width: 80%;
  min-width: 300px;
  max-width: 1920px;
  height: 10svh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--accent_purple);
}

.big_test {
  position: relative;
  width: 100%;
  height: 100%;
  background: pink;
}

.request_recieved {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.document_result_button_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.test_button {
  font-family: Colus;
  width: 45%;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--accent_purple);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  opacity: 0.7;
  transition: all 0.5s ease-out;
  border-radius: 10px;
  color: var(--accent_purple);
  &:hover {
    color: var(--light_font);
    background-color: var(--transparent_purple);
  }
  &:active {
    color: var(--main_bg);
    background-color: var(--accent_purple);
    -webkit-box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
    -moz-box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
    box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
  }
}

.audioconverter_buttons_wrapper {
  width: 70%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.module_header {
  font-family: Colus;
  color: var(--accent_purple);
  margin-bottom: 2rem;
}

.fun_word_block {
  margin-bottom: 2rem;
}

.animation_layer {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 90svh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.image_loader_wrapper {
  /* margin-top: -20svh; */
  padding: 2rem;
  background: var(--accent_purple);
  color: var(--main_bg);
  border-radius: 10px;
  transition: all 0.3s linear;
  & > h1 {
    font-family: Ardeco;
    cursor: pointer;
  }
  &:hover {
    background: var(--accent_pink);
    color: var(--light_font);
  }
}

.image_converter_result {
  width: 80%;
  max-width: 1920px;
  min-width: 300px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_converter_result img {
  width: 60%;

  max-width: 1920px;
  min-width: 300px;
  border: 2px solid transparent;
  transition: border 0.5s ease-out;
  &:hover {
    border: 2px solid var(--accent_pink);
  }
}

.modal_window {
  position: relative;
  width: 50%;
  height: 5svh;
  border: 1px solid var(--second_bg);
  border-radius: 10px;
  text-align: center;
  background-image: repeating-linear-gradient(
    45deg,
    var(--accent_purple) 99%,
    transparent
  );
  background-size: 4000px;

  animation: modal_window_bg_transition 5s linear infinite;
  & > * {
    position: absolute;
  }
}

.progress_bar::before {
  content: '';
  width: 105%;
  height: 110%;
  opacity: 1;
  position: absolute;
  left: -2.5%;
  top: -5%;
  border-radius: 10px;
  background-image: var(--accent_pink);

  background-size: 4000px;
  filter: blur(2px);

  animation: modal_window_bg_transition 5s linear infinite;
}

@keyframes modal_window_bg_transition {
  from {
    background-position: -200px 0px;
  }
  to {
    background-position: 0px 0px;
  }
}

.progress_header {
  color: var(--accent_pink);
  padding: 0;

  position: relative;
}

.progress_bar {
  height: 100%;
  background: var(--accent_purple);
  border-radius: 10px;
  z-index: 1;
}

.active {
  color: var(--accent_pink) !important;
}

/* PROFILE PAGE */

.activities_wrapper {
  margin-top: 2rem;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_activities_list {
  width: 60%;
  max-width: 1920px;
}
.test_block {
  color: red;
}

/*FILETER SORTER*/

.filter_sorter {
  width: 100%;
  border-bottom: 1px solid var(--transparent_purple);
}
.filter_sorter_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter_sorter_buttons_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.filter_buttons,
.sorter_buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.active_filter {
  color: var(--main_bg);
  background-color: var(--accent_purple);
  -webkit-box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
  -moz-box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
  box-shadow: inset 3px 5px 5px 0px rgba(121, 117, 255, 0.2);
}
